body{
    margin:0px;
}
#navbar{
    height: 52px;
    background-color: #fedd20;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 24px;
}
#navbar>img{
    height: 85%;
}
.menu{
    list-style: none;
    display:flex;
    margin:0px;
}

.menuitem {
    padding: 15px;
}

.menuitem a{
    text-decoration:none;
    color:#000000;
}

.menuitem a:hover{
    color:#ffffff;
}

.menuitem a:active{
    color:#ff0000;
}