body{
    margin:0px;
}
#navbar{
    height: 52px;
    background-color: #fedd20;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-evenly;
}
#navbar>img{
    height: 85%;
}
.menu{
    list-style: none;
    display:flex;
    margin:0px;
}

.menuitem {
    padding: 15px;
}
.menuitem a {
    color: black;
    text-decoration: none;
}

.menuitem a:hover {
    color: white;
}